
/*--------------------------------------RESET--------------------------------------*/

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------------GENERAL---------------------------------------*/

/*GENERAL*/ 
body {
    font-family: 'Open Sans', sans-serif;
}
ul , p {
    font-size: 17px;
}
h1 {
font-weight: 900;
font-size: 80px;
margin-bottom: 40px;
}
h2 {

}
h3 {

}

div , nav , section {
    border: 0.5px dashed black;
}

/*------------------------------------UTILITIES------------------------------------*/

/*CENTER*/
.flex {
    display: flex;
}
.right-flex {
    justify-content: flex-end;
}
/*BUTTON-A*/
.btnType {
padding: 5px 15px;
font-size: 19px;
text-decoration: none;
}
.bck-clr {
    background-color: #0061FF ;
    color: white;
}
/*BACKGROUND-COLOR*/
.partnerGreen {
    background-color: #A2D39B ;
}
.partnerDarkRed {
    background-color: #61082B;
}
.partnerBlue {
    background-color: #0093CE ;
}
.partnerRed {
    background-color: #FF1C1C;
}
.partnerLightRed {
    background-color: #D5001F;
}
.partnerDarkBlue {
    background-color: #0D2481;
}
.partnerYellow {
    background-color: #FFD830 ;
}
.partnerGray {
    background-color: #F5F5F5;
}
.LightBlue {
    background-color: #B4D0E7 ;
}

/*------------------------------------NAVBAR---------------------------------------*/

/*NAV*/
.containerNav {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.navbar.flex {
    min-width: 30%;
    align-items: center;
    padding: 40px 20px;
}
.navbar a img {
    width: 130px;   
}
.navbar ul {
    list-style-type: none;
    font-size: 19px;
    gap: 20px;
}
nav li > a {
text-decoration: none;
color: black;
}


/*------------------------------------HEADER---------------------------------------*/

/*HEADER-TEXT*/
header {
    min-height: 670px;
}
.containerHeaderFooter {
    min-height: 600px;
    max-width: 1400px;
    margin: 0 auto ;
}
.titleHeader {
    min-height: 100px;
    padding-top: 40px;
}
.divHeader {
    height: 400px;
}
.headerText.flex {
width: 30%;
flex-direction: column;
justify-content: space-between;
}
div i {
    font-size: 50px;
    margin: 10px 0px;
    color: black;
}
/*HEADER-IMG*/
.divHeaderImg {
width: 70%;
}
.divHeaderImg img {
    width: 85% ;
}


/*-------------------------------------MAIN----------------------------------------*/

/*BUSINESS*/
main {
    background-color: 
}
.containerMain {
    max-width: 1200px;
    margin: 0 auto ;
}
.titlesMain {
    height: 100px ;
    margin-top: 100px;
    background-color: yellow;
}
.cardMainContainer.flex {
    height: 700px;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cardMainContainer .sectCard {
    width: calc(100% / 3);
    background-color: red;
}
.titleCard {
    width: 100%;
    height: 50px;
    background-color: darkred;
}
/*ENTERPRISE*/
.teamEnterprise {
    height: 200px;
}
.titleEnterprise {
height: 50px ;
background-color: yellow;
}
.rowEnterprise.flex {
    height: 150px;
}
.colEnterpriseSX {
    width: 70%;
    height: 100%;
    background-color: green;
}
.colEnterpriseDX {
    width: 30%;
    height: 100%;
    background-color: pink;
}
/*DROPBOX BUSINESS*/
.contactDropbox {
    height: 400px;
    margin-top: 130px;
}
.imgContactDropbox {
    width: 60%;
    background-color: chocolate;
}
.textContactDropbox {
    width: 40%;
    background-color: beige;
}
/*MULTITASKING*/
.titleMultitaskingDrop {
    height: 90px;
    margin-top: 150px;
    background-color: yellow;
}
.rowMultitasking {
    height: 600px;
    gap: 40px;
    margin: 40px 0px;
}
.colMultitasking {
    width: calc(100% / 3);
   
}
.cardMultitasking {
    flex-direction: column;
    height: 100%;
}
.imgCardMultitasking,.textCardMultitasking {
    height: 50%;
    background-color: violet;
}
/*SEARCH-DROP*/
.searchDrop {
    height: 200px;
    margin-top: 100px;
    background-color: aqua;
}

/*------------------------------------ASIDE----------------------------------------*/

/*PARTNER*/
aside {
    height: 1500px;
    margin-bottom: 80px;
}
.partner {
    margin-top: 100px;
    height: 500px;
}
/*LOGHI PARTNER*/
.rowPartner {
    height: 100%;
}
.colPartner {
    width: calc(100% / 3);
}
.LAT {
    display: flex;
    flex-direction: column;
}
.cardPartner {
    width: 100%;
    height: 50%;
}
.imgCardPartner {
    width: 50%;
}
/*FREE-TRIAL*/
.freeTrial {
    height: 300px;
}
.titleFreeTrial {
    width: 55%;
}
.buttonFreeTrial {
    width: 45%;
}
/*REQUESTS*/
.containerRequests {
    max-width: 1200px;
    margin: 120px auto ;
    height: 500px;
}
.titleRequests {
    min-height: 200px;
    background-color: darkred;
}
.divRequests {
    height: 100px;
    border-bottom: ;
    background-color: violet;
}

/*------------------------------------FOOTER---------------------------------------*/

/*FOOTER*/
footer {
    background-color: gray;
}
.containerFooter {
    height: 600px;
    max-width: 1400px;
    margin: 0 auto ;
}
.rowFooter {
    width: 100%;
    height: 100%;
    gap: 40px;
}
.colFooter {
    height: 100%;
    width: calc(100% / 5);
}
.colFooter.flex {
    flex-direction: column;
}
.cardTopFooter {
    height: 80%;
}
.cardBottomFooter {
    height: 20%;
}
